/* manual/estile.css */
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #4d5433; /* El verde principal de FlowTrack */
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

h1, h2, h3 {
    color: #3b4026;
}

.btn-volver {
    display: inline-block;
    padding: 8px 15px;
    background-color: #e2e6ea;
    color: black;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-volver:hover {
    background-color: #dae0e5;
}

.alerta-critica {
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px;
    border-left: 5px solid #f5c6cb;
    margin: 15px 0;
    border-radius: 4px;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 15px 0;
}
/* Nueva regla para limpiar los estilos en línea del índice */
.enlace-modulo {
    font-size: 1.2rem;
    font-weight: bold;
    color: #4d5433;
    text-decoration: none; /* Le quita el subrayado por defecto si preferís */
}

.enlace-modulo:hover {
    color: #3b4026; /* Oscurece un poco el verde cuando se pasa el mouse por arriba */
    text-decoration: underline; /* Se subraya solo al pasar el mouse */
}